* {
   font-family: "Barlow", sans-serif;
}

body {


}

.container {
  width: 80%;
  margin: auto auto;
  /*border: solid 1px red;*/
  margin-bottom: 10px;
}


nav{   overflow: hidden; } 
nav div{   float: left; }  
nav .btn{   border-radius: 50px;   
background-color: white;   
/*border:1px solid black;   */
padding: 10px; } 

.introbutton {
         float :right;
}

.container {   width: 80%;   margin: auto;   padding:15px; } 
.logo{   width: 100%; }

.social-media li {
    list-style:none;
    display: inline;
    float: left;
    margin-left : 9px;
}

.introcontainer {
   background-color: #80b8e8;
}


.intro {
    display:flex;
    /*border: solid 1px red;*/
    padding: 3px;
}

.intro .blurb {
   width: 40%;
   /*border: solid 1px blue;*/
    text-align: center;
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    margin: auto; 
    padding:15px;
    /*
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    */
}

.intro .imgdiv {
    width: 60%;
    padding: 20px;
    text-align: right;
    /*border: solid 1px green;*/
}

.intro img {
   width: 100%;
}

.introButtonDiv {
    /*
    margin: auto auto ;
    padding: 3px;
    border: solid 1px blue;
    */
}




.introCallToAction {
    background-color: #bd268f;
    padding: 16px;
    margin: auto auto ;
    border-radius: 25px;
    border: solid 1px green;
} 




.flex {
 border: 2px #eeeeee solid ;
 border-radius: 25px;
 margin-bottom: 10px;
 padding: 10px;
 box-shadow: 5px  #aaaaaa;
 display: flex;
}

.flex img {
  width: 100%;
}

.flex .blurb {
   width: 40%;
   /*border: solid 1px blue;*/
    text-align: center;
    padding:15px;
}

.flex .blurbimg {
   width: 60%;
   /*border: solid 1px blue;*/
    text-align: center;
    padding:15px;
}


.callOut {
    width: 33%;
    margin: auto;
    height: 90px;
    text-align:center;
    padding: 20px;
    border-radius: 25px;
    border: solid 1px #eee;
    font-weight: bold;
}

.callOutButtonDiv{


}

.callOut button {
    background-color: #bd268f;
    padding: 15px 56px;
    margin: 16px auto ;
    border-radius: 25px;
    color: #fff;
} 

span {
  padding-bottom: 8px;
}

footer {
  display: flex;
  background-color: #111;
  color: #eee;
}


footer .footercolumn {
  width: 23%;
  display: inline-block;
  padding: 2px; 
  margin: 2px;
  list-style-type: none;
  /*How do I align it to the top instead of bottom?*/
}

span {
 padding-bottom: 16px;
 display:block;
}

.social-media span{
   display:inline-block;
   border:1px solid white;
   border-radius: 50%;
   padding: 1px 2px;
}

.social-media a{
  color: white;
}

.copyright {
        text-align: right;
        padding-top: 10px;
}


